* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.box1, .box2, .box3{
    width: 13rem;
    height: 18rem;
    border-radius: 20%;
    border: 2px solid pink;
    
}

.stories{
    display: flex;
    flex-flow: row;
    gap: 1rem;
    justify-content: center;
}

.box1{
    background-image: url(b1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

}

.box2{
    background-image: url(b7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.box3{
    background-image: url(b6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.logo{
    background-image: url(logo.png);
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    margin-left: -70px;
    margin-bottom: 1rem;
    box-shadow: 0 3px 2px 0 rgba(160, 160, 160, 0.308);
}

.front{
    height: 45rem;
    width: 100%;
    border: 1px solid black;
    margin-top: 1rem;
    background-image: url(multo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box4{
    border: 1rem solid black;
}

.user {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.user > h6{
    font-size: 2rem;
    margin: 1rem 0 ;
}

.arrows {
    position: absolute;
    top: 43%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrows > * {
    border: 3px solid #fdfdfd;
    background-color: rgba(0, 0, 0, 0.575);
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    color: white;
    border-radius: .5rem;

}
